.layui-footer {
  text-align: center;
  font-size: 12px;
}
.iconfont {
  margin-right: 10px;
}
.layui-nav-child dd {
  margin-left: 15px;
}
.layui-nav-child .layui-icon {
  margin-right: 10px;
}
iframe {
  width: 100%;
  height: 100%;
}
.userinfo {
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 12px;
  user-select: none;
}
.layui-side-scroll .userinfo {
  border-bottom: 1px solid #282b33;
}
.layui-nav-img {
  width: 40px;
  height: 40px;
}
.text-avatar {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #009688;
  border-radius: 50%;
  line-height: 40px;
  color: #fff;
  margin-right: 10px;
  font-size: 20px;
  text-align: center;
  position: relative;
  top: 4px;
}
